<?xml version="1.0" encoding="UTF-8"?>
<payload
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="components.xsd">
    <groups>
        <group>
            <name>fixed</name>
            <scalable>false</scalable>
        </group>
        <!-- GROUP -->
    </groups>
	
    <components>
        <!-- COMPONENT -->
    </components>
</payload>